<%- model = Account %>

<div class="flex w-full">
  <div class="bg-white rounded shadow-2xl p-8 mt-4 w-full">
    <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">
      <%= model.model_name.human %>
    </h1>

    <%= render 'form', account: @account %>

    <%= link_to "Voltar", accounts_path, class: "button bg-white-500 hover:bg-white-700 font-bold focus:outline-none py-2 focus:shadow-outline" %>
  </div>
</div>